.intro {
  height: 100vh;
  @media only screen and  (max-device-width : 767px) and (orientation : landscape) {
    height: auto;
  }
}

.img-bg {
  height: 80vh;
  @include section-bg("../img/intro-bg.png");
  @media (max-width: 767px) {
   height: 65vh;
  }
  @include respond-to(handhelds){
    height: 53vh;
  }
  @media only screen and(max-height: 545px)and(max-width: 479px) {
    height: 48vh;
  }
  @media only screen and  (max-device-width : 767px) and (orientation : landscape) {
    height: auto;
    padding-bottom: 60px;
  }
  & > .container {
    height: 70%;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    @media (max-width: 767px) {
      height: auto;
    }
  }
}
.intro-content {
  text-align: center;
  p {
    margin-bottom: 50px;
    color: $bright-blue;
    text-transform: uppercase;
    @include respond-to(handhelds){
      margin-bottom: 25px;
    }
  }
}
h1 {
  font: 11vw "Molle", serif;
  color: $bright-blue;
}
.form-block {
  height: 16vh;
  background: $bright-blue;
  @include display-flex;
  @include align-items(center);
  @media (max-width: 767px) {
    height: 35vh;
  }
  @include respond-to(handhelds) {
    height: 47vh;
  }
  @media only screen and(max-height: 545px)and(max-width: 479px) {
    height: 51vh;
  }
  @media only screen and  (max-device-width : 767px) and (orientation : landscape) {
    height: auto;
    padding: 35px 0;
  }
}
form {
  @include display-flex;
  @include justify-content(space-between);
  @media (max-width: 767px) {
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
  }
}
.inputs-list {
  width: 95%;
  margin-right: 2%;
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);
  @media (max-width: 767px) {
    @include flex-wrap(wrap);
    @include justify-content(center);
    width: auto;
    margin: 0 0 2%;
  }
  @include respond-to(handhelds){
    @include justify-content(flex-start);
  }
  li {
    width: 12%;
    @media (max-width: 991px) {
      font-size: 14px;
    }
    @media (max-width: 767px) {
      width: 23%;
      margin: 0 2% 2% 0;
    }
    @include respond-to(handhelds){
      width: 47%;
    }
  }
  span {
    padding-left: 25px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
    }
  }
}
input {
  width: 100%;
  display: block;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  color: $white;
  outline: none;
  @include transition-duration(0.3s);
}
label {
  color: $white;
}
.form-btn {
  width: 50px;
  height: 50px;
  background-color: $white;
  @include small-bg("../img/search-icon.png");
  background-color: $white;
  text-indent: -9999px;
  cursor: pointer;
  @include transition-duration(0.3s);
  @include  box-shadow(0 0 45px rgba(205, 205, 205, 0.85));
  &:hover {
    background-color: rgba(0, 0, 0, .8);
  }
}
.city-item:before {
  @include small-bg("../img/marker-icon.png");
}
.check-item:before {
  @include small-bg("../img/check-in-icon.png");
}
.rooms-item:before {
  @include small-bg("../img/house-icon.png");
}
.adults-item:before {
  @include small-bg("../img/adults-icon.png");
}
.children-item:before {
  @include small-bg("../img/children-icon.png");
}
.star-item:before {
  @include small-bg("../img/star-icon.png");
}