@import url('https://fonts.googleapis.com/css?family=Molle:400i|Roboto:300,400,700');

@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto/regular/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/regular/Roboto-Regular.woff') format('WOFF');
}
@font-face {
  font-family: "RobotoBold";
  src: url('../fonts/roboto/bold/Roboto-Bold.ttf') format('truetype'), url('../fonts/roboto/bold/Roboto-Bold.woff') format('WOFF');
}

@font-face {
  font-family: "streetwear";
  src: url('../fonts/streetwear/Streetwear.ttf') format('truetype'), url('../fonts/streetwear/Streetwear.woff') format('WOFF');
}
