.main-header {
  .padding-btn {
    @include respond-to(handhelds){
      padding: 10px 15px;
    }
  }
  padding-top: 45px;
  .container {
    @media (max-width: 991px) {
      position: relative;
      padding-bottom: 65px;
    }
    @include respond-to(handhelds){
      padding-bottom: 20px;
    }
  }
}
.popup-btn {
  @media (max-width: 991px) {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  @include respond-to(handhelds){
    left: 59%;
    top: 0;
    bottom: inherit;
    @include transform(translateX(-50%));
    font-size: 14px;
  }
}
.flex-header {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);
}
.flex-right {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(baseline);
  width: 80%;
  @media (max-width: 991px) {
    width: auto;
  }
}
.main-nav {
   width: 78%;

}
.menu-list {
  @include display-flex;
  @include justify-content(space-between);
  li {
    margin-right: 2%;
    @include transition-duration(0.3s);
    &:hover a {
      color: $bright-blue;
    }
  }
  a {
    color: $grey-blue;

  }
}
.menu-btn {
  background: transparent;
  color: $black;
  .fa-bars {
    font-size: 25px;
  }
}

